@model Web_Nha_Hang.Models.Chucvu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content" style="padding-top:30px">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-end">
                        Thông tin chi tiết chức vụ
                    </div>
                    <div class="col-6 float-end">
                        <a href="@Url.Action("Edit", new { id = Model.macv })" class="btn btn-sm btn-success"> <i class="fas fa-edit"></i> Edit </a>
                        <a href="@Url.Action("Index","Chucvu")" class="btn btn-sm btn-success"> <i class="fas fa-long-arrow-alt-left"></i> Back </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.tencv)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.tencv)
                    </dd>

                </dl>
            </div>
        </div>
    </section>
</div>

