
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content"  style="padding-top:30px">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-end">
                        TEN
                    </div>
                    <div class="col-6 float-end">
                        LINK
                    </div>
                </div>
            </div>
            <div class="card-body">
                NOI DUNG
            </div>
        </div>
    </section>
</div>
