
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPageNhaHang.cshtml";
}
<div class="innerpage-banner" id="home">
    <div class="inner-page-layer">
    </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crispy Restaurant Category Flat Bootstrap Responsive Website Template | Blog :: W3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Crispy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/css/css_slider.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/css/style.css" rel="stylesheet" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <!-- //banner -->
    <!-- blog -->
    <section class="blog py-5">
        <div class="container py-md-3">
            <h2 class="heading text-center mb-sm-5 mb-4">Crispy blog </h2>
            <div class="row blog-grids head">
                <div class="col-lg-7 mb-lg-5 blog-img1">
                    <img src="~/Theme/images/blog1.jpg" alt="" class="img-fluid" />
                    <a href="single.html">Blog #1</a>
                </div>
                <div class="col-lg-5 mb-lg-5 mb-4">
                    <h5>March 3, 2019.</h5>
                    <h4 class="my-3">Quán Lẩu Mới Ra Mắt Bộ Menu Đặc Sắc</h4>
                    <p class="my-3">
                        Một quán lẩu nổi tiếng vừa công bố bộ menu mới, tập trung vào việc sử dụng nguyên 
                        liệu có lợi ích cho sức khỏe. Menu mới này bao gồm các loại rau củ tươi ngon, thực 
                        phẩm hữu cơ, và các lựa chọn protein đa dạng. Quán lẩu hy vọng sẽ mang lại cho khách 
                        hàng không chỉ là trải nghiệm ẩm thực tuyệt vời mà còn là lựa chọn có lợi cho sức khỏe.
                    </p>
                    <a href="single.html" class="btn-banner"> View Post </a>
                </div>
                <div class="col-lg-5 mb-lg-5 mb-4">
                    <h5>November 3, 2023.</h5>
                    <h4 class="my-3">Chuyến Phiêu Lưu Ẩm Thực: </h4>
                    <p class="my-3">
                        Blog này có thể tập trung vào việc mô tả hành trình ẩm thực tại nhà hàng,
                        điểm đặc sắc của các món ăn, và cảm nhận của khách hàng.
                    </p>
                    <a href="single.html" class="btn-banner"> View Post </a>
                </div>
                <div class="col-lg-7 mb-5 blog-img2">
                    <img src="~/Theme/images/blog2.jpg" alt="" class="img-fluid" />
                    <a href="single.html">Blog #2</a>
                </div>
                <div class="col-lg-7 mb-lg-5 blog-img1">
                    <img src="~/Theme/images/blog1.jpg" alt="" class="img-fluid" />
                    <a href="single.html">Blog #3</a>
                </div>
                <div class="col-lg-5 mb-lg-5 mb-4">
                    <h5>November 3, 2023.</h5>
                    <h4 class="my-3">Nghệ Thuật Nấu Ăn Tại Nhà Hàng</h4>
                    <p class="my-3">
                        Nêu bật về đội ngũ đầu bếp và quy trình nấu ăn chuyên nghiệp, có thể kể câu 
                        chuyện về sự sáng tạo và nỗ lực trong việc tạo ra những món ăn ngon.
                    </p>
                    <a href="single.html" class="btn-banner"> View Post </a>
                </div>
                <div class="col-lg-5 mb-lg-5 mb-4">
                    <h5>November 3, 2023.</h5>
                    <h4 class="my-3">Lữ Hành Qua Thời Gian:Hành Trình Lịch Sử và Đặc Trưng Của Nhà Hàng Chúng Tôi</h4>
                    <p class="my-3">
                        Trình bày về lịch sử và di sản của nhà hàng, kể lại những câu chuyện đằng sau 
                        nguồn gốc của các món ăn và cách chúng đã trở thành biểu tượng của nhà hàng.
                    </p>
                    <a href="single.html" class="btn-banner"> View Post </a>
                </div>
                <div class="col-lg-7 blog-img2">
                    <img src="~/Theme/images/blog2.jpg" alt="" class="img-fluid" />
                    <a href="single.html">Blog #4</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //blog -->
</body>
</html>