
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutPageNhaHang.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Crispy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/css/css_slider.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/css/style.css" rel="stylesheet" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <div class="innerpage-banner" id="home">
        <div class="inner-page-layer">
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-5">
        <div class="container py-md-3">
            <h2 class="heading text-center mb-sm-5 mb-4">About Us </h2>
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="about-left">Tận hưởng niềm vui cùng nhau tại nhà hàng của chúng tôi</h4>
                    <p class="mt-sm-4 mt-3">
                        Bữa ăn tại nhà hàng chúng tôi không chỉ là sự kết hợp tinh tế của các nguyên liệu 
                        tươi ngon, mà còn là một trải nghiệm tương tác, nơi mọi người có thể cùng nhau chia 
                        sẻ niềm vui của việc nấu ăn và thưởng thức hương vị đặc trưng của lẩu. Không gian ấm 
                        áp, phục vụ tận tâm và menu đa dạng sẽ làm cho mỗi bữa ăn tại đây trở thành một chuyến 
                        phiêu lưu ẩm thực không thể quên.
                    </p>
                    <div class="row mt-4">
                        <div class="col-md-3 col-6">
                            <div class="about-box">
                                <span class="icon">
                                    <span class="fa fa-birthday-cake"></span>
                                </span>
                                <h4>Healthy</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="about-box">
                                <span class="icon">
                                    <span class="fa fa-rocket"></span>
                                </span>
                                <h4>Spicy & Hot</h4>
                            </div>
                        </div>
                        <!-- .about-box ends here -->
                        <div class="col-md-3 col-6 mt-md-0 mt-4">
                            <div class="about-box">
                                <span class="icon">
                                    <span class="fa fa-cutlery"></span>
                                </span>
                                <h4>Crunchy</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 mt-md-0 mt-4">
                            <div class="about-box">
                                <span class="icon">
                                    <span class="fa fa-coffee"></span>
                                </span>
                                <h4>Reciepe</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 dental">
                    <img src="~/Theme/images/Banner_About_Home.jpg" class="img-fluid" alt="" style=" width: 510px; height: 400px;"/>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- about bottom -->
    <section class="about-bottom pb-5">
        <div class="container pb-lg-3">
            <div class="row bottom-grids">
                <div class="col-lg-6">
                    <img src="~/Theme/images/bg.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <h4>Món Lẩu Thơm Ngon Và Dinh Dưỡng , Cùng Với Đó Là Niềm Vui Bên Bạn Bè Gia Đình</h4>
                    <p class="py-3">
                        Món lẩu thơm ngon và dinh dưỡng sẽ là điểm đặc biệt mà chúng tôi tự hào mang đến cho
                        quý khách. Tận hưởng hương vị giòn ngon của các loại rau sạch và thực phẩm tươi ngon
                        được chọn lọc kỹ lưỡng, tất cả hòa quyện trong nồng nàn hương lẩu đặc trưng của chúng tôi.
                    </p>
                    <p class="">
                        Đây không chỉ là bữa ăn ngon miệng mà còn là trải nghiệm tốt cho sức khỏe, khi bạn có thể
                        thưởng thức những thành phần giàu chất dinh dưỡng và thúc đẩy sự lành mạnh của cơ thể.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //about bottom -->
    <!-- Chefs -->
    <section class="trainers py-5">
        <div class="container py-md-3">
            <h3 class="heading text-center mb-sm-5 mb-4">Our Chefs </h3>
            <div class="row team_grids mt-5">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Theme/images/t1.jpg" alt="team member" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>Cook Master</h4>
                                <p>Sự hài lòng của khách hàng là niềm vui của chúng tôi</p>
                            </div>
                            <div class="s-link">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Charlotte Olivia</h5>
                        <span>Cook Master</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 my-sm-0 mt-5">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Theme/images/t2.jpg" alt="team member" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>Cook Master</h4>
                                <p>Sự hài lòng của khách hàng là niềm vui của chúng tôi</p>
                            </div>
                            <div class="s-link">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Mathew Elijah</h5>
                        <span>Cook Master</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mx-auto my-lg-0 mt-5">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Theme/images/t3.jpg" alt="team member" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>Cook Master</h4>
                                <p>Sự hài lòng của khách hàng là niềm vui của chúng tôi</p>
                            </div>
                            <div class="s-link">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Alexander Lucas</h5>
                        <span>Cook Master</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mx-auto my-lg-0 mt-5">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Theme/images/t4.jpg" alt="team member" class="img-fluid">
                        </div>
                        <div class="team-hover">
                            <div class="desk">
                                <h4>Cook Master</h4>
                                <p>Sự hài lòng của khách hàng là niềm vui của chúng tôi</p>
                            </div>
                            <div class="s-link">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-title">
                        <h5>Linda Anderson</h5>
                        <span>Cook Master</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Chefs -->
    <!-- appointment -->
    <section class="appointment text-center py-5">
        <div class="container py-sm-3">
            <h4>Thưởng thức hương vị giòn thơm ngon và bổ dưỡng được cung cấp tại nhà hàng Lẩu Yunxi của chúng tôi.</h4>
            <p class="mt-3">Gọi cho chúng tôi để đặt bàn ngay hôm nay hoặc để đặt món ăn</p>
            <h3>+84 43 181 163</h3>
        </div>
    </section>
    <!-- //appointment -->
</body>
