
@{
    ViewBag.Title = "SpecialOffer";
    Layout = "~/Views/Shared/_LayoutPageNhaHang.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Crispy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <link href="~/Theme/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/css/css_slider.css" rel="stylesheet" />
    <link href="~/Theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/css/style.css" rel="stylesheet" />
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- //google fonts -->

</head>
<body>
    <div class="innerpage-banner" id="home">
        <div class="inner-page-layer">
        </div>
    </div>
    <!-- //banner -->
    <!-- Ưu đãi -->
    <section class="special-offers py-5">
        <div class="container py-md-5">
            <h3 class="heading text-center mb-sm-5 mb-4">Ưu đãi đặc biệt</h3>
            <div class="row offer-grids">
                <div class="col-lg-4 col-md-6">
                    <div class="offer1">
                        <img src="~/Theme/images/khuyenmai1.jpg" class="img-fluid" alt="Ưu đãi 1" />
                        <div class="bg-layer">
                            <h4>KHÁM PHÁ ẨM THỰC HỒNG KÔNG - TẶNG NGAY DIMSUM 0 ĐỒNG</h4>
                            <p class="mt-3">Thoải mái ăn ngon không lo về giá ghé ngày Long Wang</p>
                            <p>11/01/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="offer2">
                        <img src="~/Theme/images/khuyenmai2.jpg" class="img-fluid" alt="Ưu đãi 2" />
                        <div class="bg-layer">
                            <h4>ƯU ĐÃI 50% GÀ ÁC HẤP THUỐC BẮC - LÊN ĐỒ TỤ HỌP NGAY THÔI</h4>
                            <p class="mt-3">-50% Gà ác hấp thuốc bắc chỉ với 98k</p>
                            <p>06/01/2023</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="offer3">
                        <img src="~/Theme/images/khuyenmai3.jpg" class="img-fluid" alt="Ưu đãi 3" />
                        <div class="bg-layer">
                            <h4>ĐẶT TIỆC SINH NHẬT - ẴM TRỌN QUÀ KHỦNG</h4>
                            <p class="mt-5">Sinh nhật ở Hồng Kông - Ưu đãi 10% tổng bill + Tặng gói trang trí sinh nhật</p>
                            <p>16/12/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Ưu đãi -->
    <!-- appointment -->
    <section class="appointment text-center py-5">
        <div class="container py-sm-3">
            <h4>Thưởng thức hương vị giòn thơm ngon và bổ dưỡng được cung cấp tại nhà hàng Lẩu Yunxi của chúng tôi.</h4>
            <p class="mt-3">Gọi cho chúng tôi để đặt bàn ngay hôm nay hoặc để đặt món ăn</p>
            <h3>+84 43 181 163</h3>
        </div>
    </section>
    <!-- //appointment -->
</body>


